/* ShowItems.css */

.show-items {
    width: 100%;
    
  }
  
  h1 {
    color: black;
    font-size: 2em; /* Set the font size to make it larger */
  }
  
  .items-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .show-item {
   
    flex-basis: calc(19% - 20px); /* 20% to fit 5 items horizontally */
    margin-top: 4px;
    padding: 0px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
<<<<<<< Updated upstream
    transition: transform 0.3s, background-color 0.3s;
=======
    transition: transform 0.3s, box-shadow 0.3s;
    background: linear-gradient(to left, rgb(249, 248, 248) 50%, rgb(243, 228, 255) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
>>>>>>> Stashed changes
  }
  
  .show-item:hover {
    transform: scale(1.1); /* Grow on hover */
<<<<<<< Updated upstream
    background-color:  rgba(123, 123, 235, 0.121); /* Glow on hover */
    
=======
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Glow on hover */
    background-position: left;
>>>>>>> Stashed changes
  }
  
  .show-item img {
    width: 100px; /* Increase the icon size */
    height: 100px;
  }
  
   
  
  .show-item span {
    display: block;
    font-weight: bold;
    color: black; /* Set the text color */
    margin-top: 10px; /* Add margin for better spacing */
    font-size: 1em; /* Set the font size for folder names */
    
  
  }
  .show-item span:hover {
    
    color: blue;
    
  
  }
  