/* AboutUs.css */

/* Default styles */
.about-us-container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
   /* border: 2px  solid black; */
}

h2 {
  color: rgb(0, 0, 0) !important;
  font-size: 50px !important;
  padding:20px
}

.team-members {
  display: flex;
  justify-content: space-around;
  /* border: 1px  solid black; */
  flex-wrap: wrap; /* Allow team members to wrap to the next line on smaller screens */
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s; 
}
.team-members:hover{
  background-color: #f0f0f0; /* Change background color on hover */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Adjust box shadow on hover */
}
.team-member {
  flex: 1;
  margin: 20px;
  max-width: 250px; /* Set a maximum width for team members on smaller screens */
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

h3 {
  color: rgb(0, 0, 0) !important;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  margin: 0 10px;
  color: rgb(0, 0, 0) !important;
  font-size: 24px;
  text-decoration: none;
}

.social-links a:hover {
  color: yellow !important;
}
.social-links-icon{
  height: 50px !important;
}
.want-to{
  font-weight: 600;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
}
.to{
  margin-top: 20px;
  text-decoration: none;
}
.btnNew{
  text-decoration: none;
}
/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  h2 {
    font-size: 30px !important; /* Adjusted font size for smaller screens */
  }

  .team-member {
    flex: 1 0 100%; /* Allow team members to take full width on smaller screens */
    max-width: 80%; /* Set a maximum width of 100% for team members on smaller screens */
  }

  .social-links a {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }
}
